#sipStepUp .leftSideBox {
  position: relative;
  background: #526fe4;
  width: 12%;
  height: 100vh;
  display: inline-block; }
#sipStepUp .rightSideBox {
  display: inline-block;
  background-color: #f1f5fa;
  width: 88%;
  height: 100dvh;
  position: absolute; }
  #sipStepUp .rightSideBox .rightMain {
    background-color: #fff;
    padding: 10px 10px 20px 10px;
    margin: 50px 20px;
    position: relative;
    height: 1000%; }
    #sipStepUp .rightSideBox .rightMain .calculatorText {
      padding: 0px 18px;
      color: black; }
      #sipStepUp .rightSideBox .rightMain .calculatorText .calculatorTitle {
        padding: 30px 0px 10px;
        font-weight: bold; }
      #sipStepUp .rightSideBox .rightMain .calculatorText .calculatorDescription {
        margin: 0 0 10px 0; }
    #sipStepUp .rightSideBox .rightMain .container .leftContainer {
      width: 48%;
      border: 1px solid #eaebed;
      margin: 10px;
      display: inline-block;
      border-radius: 5px;
      height: 85%; }
      #sipStepUp .rightSideBox .rightMain .container .leftContainer .sliderArea {
        margin: 20px;
        padding: 19px; }
        #sipStepUp .rightSideBox .rightMain .container .leftContainer .sliderArea .slider {
          width: 100%; }
          #sipStepUp .rightSideBox .rightMain .container .leftContainer .sliderArea .slider .sliderTitle {
            font-weight: 700;
            width: 600px; }
          #sipStepUp .rightSideBox .rightMain .container .leftContainer .sliderArea .slider .sliderInput {
            margin-left: 5px; }
        #sipStepUp .rightSideBox .rightMain .container .leftContainer .sliderArea .invalidInput {
          color: red;
          text-align: right;
          padding: 2px;
          font-size: 14px;
          margin: 1px 0px; }
    #sipStepUp .rightSideBox .rightMain .container .rightContainer,
    #sipStepUp .rightSideBox .rightMain .container .error {
      position: absolute;
      width: 45%;
      height: 75%;
      display: inline-block;
      border: 1px solid #eaebed;
      margin: 10px;
      padding: 20px;
      border-radius: 5px; }
      #sipStepUp .rightSideBox .rightMain .container .rightContainer .textForGraph,
      #sipStepUp .rightSideBox .rightMain .container .error .textForGraph {
        font-size: 19px;
        padding: 10px 0px;
        color: grey;
        margin: 0px 12px; }
        #sipStepUp .rightSideBox .rightMain .container .rightContainer .textForGraph .spanParaGraph,
        #sipStepUp .rightSideBox .rightMain .container .error .textForGraph .spanParaGraph {
          margin: 15px 0px; }
          #sipStepUp .rightSideBox .rightMain .container .rightContainer .textForGraph .spanParaGraph .yearsDisplay,
          #sipStepUp .rightSideBox .rightMain .container .error .textForGraph .spanParaGraph .yearsDisplay {
            color: black;
            font-weight: bold; }
        #sipStepUp .rightSideBox .rightMain .container .rightContainer .textForGraph .sipAmount,
        #sipStepUp .rightSideBox .rightMain .container .error .textForGraph .sipAmount {
          color: #2c74b3;
          margin: -20px 0px;
          font-weight: bold;
          padding: 25px 0px; }
        #sipStepUp .rightSideBox .rightMain .container .rightContainer .textForGraph .currencyRupeeInPara,
        #sipStepUp .rightSideBox .rightMain .container .error .textForGraph .currencyRupeeInPara {
          color: #ff6e31;
          margin-left: 10px; }
        #sipStepUp .rightSideBox .rightMain .container .rightContainer .textForGraph .currencyRupeeInPara2,
        #sipStepUp .rightSideBox .rightMain .container .error .textForGraph .currencyRupeeInPara2 {
          color: #03c988;
          margin-left: 10px;
          font-weight: bold; }
#sipStepUp .error {
  color: red; }
#sipStepUp svg,
#sipStepUp .graphDiv {
  overflow: visible;
  font-size: large;
  margin: 10px 0 0 0; }

@media (max-width: 1000px) {
  #sipStepUp .rightContainer {
    display: block;
    width: 90%; }
  #sipStepUp .paraGraph {
    font-size: small; }
  #sipStepUp .leftSideBox {
    height: 100cqmax; }
  #sipStepUp .leftContainer {
    width: 95%; }
  #sipStepUp .rightMain {
    height: 100vh; }
  #sipStepUp .paraGraph {
    font-size: 18px; }
  #sipStepUp .paraGraph {
    font-size: 22px; }
  #sipStepUp .sipAmount {
    font-size: 22px;
    padding: 20px 5px; }
  #sipStepUp .textForGraph .spanParaGraph {
    font-size: 22px; } }
@media (max-width: 768px) {
  #sipStepUp .leftSideBox {
    display: none; }
  #sipStepUp .rightSideBox {
    width: 100%; }
  #sipStepUp .rightContainer {
    width: 89%; }
  #sipStepUp .leftContainer {
    width: 95%; }
  #sipStepUp .textForGraph span {
    font-size: 20px; } }
@media (max-height: 560px) {
  #sipStepUp .rightSideBox {
    height: 100%; } }

/*# sourceMappingURL=main.css.map */
